

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

tr:hover {
	background-color: lightgray;
	cursor: pointer;
}